:root{
    --cart-item-image-width: 120px;
    --cart-item-image-height: 125px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general-shop-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    
}

.user-pay-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding: 4em;
    flex-wrap: wrap;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    
    border-radius: 1em;
    max-height: 550px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    background-color: #1a2a2a;
}
.discounts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.apply-discount{
    text-decoration: underline;
    cursor: pointer;
}
.login-section{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.75em;
    padding-bottom: 1em;
}
.btn-login{
    width: 100%;
    padding: 1em 1em;
    cursor: pointer;
}
.underline{
    border: 1px solid white;
}
.total-item-prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
}
.pay-container{
    padding-top: 1em;
}
.btn-pay{
    width: 100%;
    padding: 1em 1em;
    cursor: pointer;
}
.shopping-cart-container{
    display: flex; 
    flex-direction: column;
    padding: 2em;
    gap: 1.5em;
    max-width: 700px;
    width: 690px;
}

.shopping-cart-items{
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 0.75em;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    flex-direction: column;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0;
    background-color: #1a2a2a;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -ms-border-radius: 0.75em;
    -o-border-radius: 0.75em; */
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: flex-start;
    padding: 1em;
    padding-bottom: 0em;
    flex-wrap: wrap;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    max-width: 650px;

    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    background-color: #1a2a2a;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-continue{
    text-decoration: none;
    color: white;
}

.cart-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cart-image {
    width: var(--cart-item-image-width);
    height: var(--cart-item-image-height); 
}

.cart-image-container {
    display: flex; 
    align-items: center; 
    text-align: center;
}
.item-orig-price{
    font-size: 1em;
}
.item-info-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.item-title{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.item-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em 0;
    align-items: center;
    text-align: center;
}

.item-quantity-control{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.item-num{
    padding: 0 2em;
}

.item-total-price{
    font-weight: bold;
}

.btn-rm{
    background-color:transparent;
    outline: none;
    border: 1px solid white;
    
    color: rgb(255, 38, 38);
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.btn-rm:hover{
    color: white;
    background-color: rgb(255, 44, 44);
}


.no-cart-items{
    width: 100%;
}
.no-items-box{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.no-items-desc{
    width: 50ch;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.75;
    letter-spacing: 1px;
}


@media screen and (max-width: 600px) {
    .item-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .shopping-cart-container{
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */

    }
    .cart-boxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .item-quantity-control {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .item-orig-price{
        padding-top: 0.75em;
    }
    
}